* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

@font-face {
    font-family: poppins;
    src: url(./styles/utilities/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsbold;
    src: url(./styles/utilities/Poppins/Poppins-SemiBold.ttf);
}

.navbar {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #541554;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Alinear logo a la izquierda y menú a la derecha*/

.header__img {
    max-width: 120px;
}

.header__burguer {
    max-width: 20px;
}

.register {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #541554;
    height: 1100px;
}

.register__title {
    text-align: center;
    color: white;
}

.register__title2 {
    color: #ECB22E;
}

.register__subtitle {
    color: white;
    text-align: center;
    font-size: 10pt;
    padding-bottom: 50px;
}

.register__method--email {
    width: 100%;
    height: 55px;
    color: #541554;
    font-family: poppinsbold;
    font-size: 10pt;
}

.register__method--google {
    width: 100%;
    height: 55px;
    color: white;
    background-color: #4285F4;
    font-family: poppinsbold;
    margin-top: 10px;
}

.register__img--img {
    max-width: 500px;
    margin-left: -350px;
    margin-top: 200px;
}

.info {
    background-color: #F4EDE4;
    height: 1000px;
    width: 100%;
}

.info__empresas--p {
    font-family: poppinsbold;
    text-align: center;
    padding: 50px;
    padding-bottom: 20px;
}

.info__empresas--ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 30px;
}

.info__empresas--img1 {
    max-width: 150px;
}

.info__empresas--img2 {
    
    max-width: 60px;
}
.info__empresas--img3 {
    max-width: 100px;
}

.info__empresas--img4 {
    max-width: 50px;
}

.info__empresas--img5 {
    max-width: 250px;
}

.info__empresas--img6 {
    max-width: 90px;
}

.info__img {
    margin-left: -5px;
    margin-top: 20px;
}

