* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

@font-face {
    font-family: poppins;
    src: url(./styles/utilities/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsbold;
    src: url(./styles/utilities/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: poppinsblack;
    src: url(./styles/utilities/Poppins/Poppins-Bold.ttf);
}

.navbar {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #541554;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Alinear logo a la izquierda y menú a la derecha*/

.header__img {
    max-width: 120px;
}

.header__burguer {
    max-width: 20px;
}

.register {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #541554;
    height: 1100px;
}

.register__title {
    text-align: center;
    color: white;
}

.register__title2 {
    color: #ECB22E;
}

.register__subtitle {
    color: white;
    text-align: center;
    font-size: 10pt;
    padding-bottom: 50px;
}

.register__method--email {
    width: 100%;
    height: 55px;
    color: #541554;
    font-family: poppinsbold;
    font-size: 10pt;
    border-style: none;
}

.register__method--google {
    width: 100%;
    height: 55px;
    color: white;
    background-color: #4285F4;
    font-family: poppinsbold;
    margin-top: 10px;
    border-style: none;

}

.register__img--img {
    max-width: 500px;
    margin-left: -350px;
    margin-top: 200px;
}

.info {
    background-color: #F4EDE4;
    height: 2850px;
    width: 100%;
}

.info__empresas--p {
    font-family: poppinsbold;
    text-align: center;
    padding: 50px;
    padding-bottom: 20px;
}

.info__empresas--ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 30px;
}

.info__empresas--img1 {
    max-width: 150px;
}

.info__empresas--img2 {
    
    max-width: 60px;
}
.info__empresas--img3 {
    max-width: 100px;
}

.info__empresas--img4 {
    max-width: 50px;
}

.info__empresas--img5 {
    max-width: 250px;
}

.info__empresas--img6 {
    max-width: 90px;
}

.info__img {
    margin-left: -5px;
    margin-top: 20px;
}


.info__equipo {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.info__equipo--p {
    font-family: poppinsbold;
    margin-top: 20px;
}

.info__equipo--a {
    text-decoration: none;
}

.info__equipo--img {
    margin-top: 80px;
    margin-left: 45px;
    margin-bottom: 40px;
}

.info__equipo--img2 {
    margin-top: 80px;
    margin-left: -20px;
    margin-bottom: 40px;
}

.conoce {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 140px;
    height: 1000px;
}

.conoce__h2 {
    text-align: center;
    margin-bottom: 20px;
}

.conoce__p {
    text-align: center;
}

.conoce__button1 {
    width: 100%;
    height: 55px;
    font-family: poppinsbold;
    font-size: 10pt;
    background-color: #541554;
    color: white;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

.conoce__button2 {
    width: 100%;
    height: 55px;
    font-family: poppinsbold;
    font-size: 10pt;
    background-color: white;
    color: #541554;
    margin-bottom: 60px;
    border-color: #541554;
}

.conoce__porcentajes {
    width: 200px;
    margin: 0 auto;
}

.conoce__porcentajes--por {
    text-align: center;
    font-size: 34pt;
    color:#541554;
    font-family: poppinsblack;
    padding-top: 30px;
}

.conoce__porcentajes--text {
    font-size: 10pt;
    text-align: center;
}

.conoce__video {
    margin-top: 100px;
    width: 100%;
    align-items: center;
}

.conoce__video--vid {
    object-fit: fill;
    max-width: 100%;
}